* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: Inter, system-ui, sans-serif;
    background-color: #f5f6fa;
    color: #1e1e1e;
}
