.sidebar {
    width: 240px;
    background: #111827;
    color: #fff;
    padding: 24px;
}

.logo {
    margin-bottom: 32px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 16px;
    cursor: pointer;
    opacity: 0.85;
}

li:hover {
    opacity: 1;
}
